{% extends "base.html" %}

{% block contents %}
<header>
<h1 class="title"><a href="">
        DiceRV :: Examples :: {{ example.name | replace('_',' ') }}</a></h1>
</header>

<div id="home">
    <p class="intro">{{ example.intro }}</p>

    {% for test in example.tests %}
    <h2>{{ test.name }}</h2>
    <code>{% highlight 'python' %}{{ test.code }}{% endhighlight %}</code>
    <p>The output of the above code is:</p>
    {% if test.output %}
    <code><pre>{{ test.output }}</pre></code>
    {% endif %}
    {% if test.figure %}
    <div align='center'>
        <img src="{{ test.figure }}">
    </div>
    {% endif %}
    <br>
    {% endfor %}

{% endblock contents %}
