{% extends "base.html" %}

{% block contents %}
<header>
<h1 class="title"><a href="{{ baseurl }}">{{ title }}</a></h1>
</header>

<div id="home">
    <p class="intro">{{ intro }}
    (<a href="{{ github_url }}">fork</a>).</p>

    <h2>What for?</h2>
    <p>For beautiful things like this picture:</p>
    <div align='center'>
        <img src='examples/img/3d6pmf.png'>
    </div>

    <h2>Install</h2>
    <p>TBA.</p>

    <h2>Basic Usage</h2>
    <div class="highlight">
        <pre><code><span class="kn">import</span> <span class="nn">drv.game.basic</span>
<span class="n">dice</span> <span class="o">=</span> <span class="n">drv</span><span class="o">.</span><span class="n">game</span><span class="o">.</span><span class="n">basic</span><span class="o">.</span><span class="n">ndk</span><span class="p">(</span><span class="mi">3</span><span class="p">,</span> <span class="mi">6</span><span class="p">)</span>
<span class="k">print</span> <span class="n">dice</span><span class="o">.</span><span class="n">mean</span>
</code></pre>
    </div>

    <p>
    The output should be 10.5.
    </p>

    <h2>Examples</h2>
    <ul class="posts">
        {% for example in examples %}
        <li><span>...</span>
        <a href="/dicerv/examples/{{ example }}.html">
            {{ example|replace('_',' ') }}</a>
        </li>
        {% endfor %}
    </ul>
</div>


{% endblock contents %}
